@model IEnumerable<SuperHero.Models.Superhero>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlterEgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperPower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondarySuperPower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatchPhrase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlterEgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondarySuperPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatchPhrase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuperHeroId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuperHeroId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuperHeroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
